@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* reset ------------------------ */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* variables --------------------- */
:root {
    /* colors --------------------- */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --hover-green: hsla(154, 59%, 51%, 0.871);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);
    --grayish-blue-hover: hsla(246, 25%, 77%, 0.542);
    --white: rgba(245, 245, 245, 0.882);
    --shaddow: rgba(80, 79, 79, 0.286);
}

/* body ----------------------------- */
body {
    background-color: var(--red);
    background-image: url(../images/bg-intro-mobile.png);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

body p {
    font-size: 16px;
    color: var(--white);
    font-weight: 400;
}

/* text container ----------------------------- */
.text-container {
    margin: 20% 1.5rem;
}

.text-container > h1 {
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: 700;
}

/* box container =============================== */

/* free trail ------------------------------- */

.free-trail {
    background-color: var(--blue);
    margin: 0 1.5rem;
    padding: 1rem 0;
    border-radius: 10px;
    line-height: 1.8;
    box-shadow: 0 7px 5px var(--shaddow);
    margin-bottom: 1.5rem;
}

.free-trail > h4 {
    color: var(--grayish-blue);
    font-weight: 400;

} 

.bold {
    color: white;
    font-weight: 700;
}

.no-wrap {
    text-wrap: nowrap;
}

/* form ------------------------------------- */
.form-container {
    background-color: white;
    padding: 20px 0;
    margin: 0 1.5rem;
    border-radius: 10px;
    box-shadow: 0 7px 5px var(--shaddow);
    
}

/* form inputs --------------------------------- */
.input-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    border: 1px solid var(--dark-blue);
    border-radius: 5px;
    /* margin-bottom: 15px; */
}

.input-box:hover {
    background-color: var(--grayish-blue-hover);
}

.input {
    width: 95%;
    padding: .7rem 1rem;
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}



.input-container {
    margin-bottom: 15px;
}


/* placeHolder -------------------------------- */
::placeholder {
    color: var(--dark-blue);
}

.red::placeholder {
    color: var(--red);
}


/* form label ----------------------------------- */
.label {
    display: none;
    font-style: italic;
    font-size: 12px;
    color: var(--red);
    width: 92%;
    text-align: right;
    margin-top: 5px;
}
/* form error img ------------------------------- */
.error-img {
    display: none;
    margin-right: 1rem;
}


/* button ---------------------------- */

.btn {
    width: 90%;
    padding: .7rem 0;
    background-color: var(--green);
    border: 1px solid var(--green);
    border-radius: 5px;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--hover-green);
}
/* terms ------------------------------ */
.terms-p  {
    color: var(--grayish-blue);
    font-size: 12px;
    margin: 0 2rem;
}

.terms {
    text-decoration: none;
    color: var(--red);
}

/* footer ----------------------- */
.attribution {
    font-size: 11px; text-align: center;
    position: sticky;
    margin-top: 2rem;
    margin-bottom: 10px;
}
.attribution a {
    color: var(--white);
    text-decoration: none;
}

.invalid {
    display: block;
}


/* desktop design --------------------------------------- */

@media (min-width: 570px) {
    body {
        background-image: url(../images/bg-intro-desktop.png);
    }

    h1 {
        font-size: 2rem;
    }
    main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        width: 400px;
        text-align: left;
    }

    .attribution {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    }
}



